body{
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
  padding:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:20px;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
}

.card p{
  font-size:26px;
  color:#38bdf8;
  font-weight:bold;
}

.controls{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:20px;
}

.switch{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
}
